.cartdetail {
  max-width: 900px;
  margin: 0 auto;
}

// table
.cartinfo {
  .trash {
    &:hover {
      color: red !important;
    }
  }
}

@media (max-width: 576px) {
  .cartinfo {
    .image {
      display: none
    }
  }
}

.table td {
  border: none;
  margin: 0.5rem;
}

// coupon
.couponuse {
  input {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
  }
}

// 數量
.countNumber {
  max-width: 100px;

  .add,
  .minus,
  .productNumber {
    min-height: 38px;
    padding: 2px 8px;
    border: 1px solid #00346D;
  }

  .add {
    border-radius: 0 3px 3px 0;
  }

  .minus {
    border-radius: 3px 0 0 3px;
  }

  .productNumber {
    text-align: center;
    min-width: 50px;

  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .countNumber {
    .productNumber {
      min-width: 38px;
      font-size: 16px;
    }

    .add,
    .minus {
      font-size: 12px;
    }
  }
}