#favorite {
  min-height: 100vh;
}

.favoritedetail {
  max-width: 600px;
  margin: 0 auto;
}

// banner
.favbannerbox {
  position: relative;

  .favbanner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 250px;
    opacity: 0.7;
  }

  h2 {
    background: rgba(62, 115, 188, 0.91);
    color: white;
    padding: 10px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 767.98px) {
  .favbannerbox {
    .favbanner {
      height: 180px;
      margin-top: 15px;
    }

    h2 {
      font-size: 24px;
    }
  }
}

// table
.table {
  .trash {
    &:hover {
      color: red !important;
    }
  }

  .addfavcart {
    &:hover {
      color: green !important;
    }
  }
}