// banner
.bannerbox {
  position: relative;

  .banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 250px;
    opacity: 0.7;
  }

  h2 {
    background: rgba(62, 115, 188, 0.91);
    color: white;
    padding: 10px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 767.98px) {
  .bannerbox {
    .banner {
      height: 180px;
      margin-top: 15px;
    }

    h2 {
      font-size: 24px;
    }
  }
}

// list
.title {
  color: #00346D;
  margin: 0;
  padding: 12px 0;
  border-bottom: 2px solid #00346D;
}

.list-group {
  border: none;

  .list-group-item {
    border: none;
    border-bottom: 2px dotted #00346D;
    font-size: 18px;
    padding: 0;

    a {
      text-decoration: none;
      display: block;
      padding: 12px 0;
    }

    .active {
      color: white;
      background: #00346D;
    }
  }
}

@media (max-width: 575px) {
  .goodstype {
    .title {
      display: none;
    }

    .list-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .list-group-item {
        border-bottom: none;
        flex: 1;
      }
    }
  }
}

// card
.card {
  border: none;

  .card-head {
    position: relative;

    .iconTags {
      position: absolute;
      padding-right: 15px;
      top: 0;
      right: 0;
      font-size: 30px;
      color: #d63e3e;
      cursor: pointer;
      text-shadow: 0 1px 3px #b14c4c;
    }

    .info {
      width: 100%;
      position: absolute;
      bottom: 15px;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      font-size: 22px;

      .detaillogo {
        display: block;
        text-indent: 9px;
        width: 46.75px;
        border: 1px solid #fff;
        border-radius: 50%;
        background: #fff;
        color: #00346D;
        cursor: pointer;

        i {
          padding-top: 9px;
        }
      }

      .cartlogo i {
        display: block;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 50%;
        background: #fff;
        color: #00346D;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .card {
    .card-head {
      img {
        object-fit: cover;
        height: 300px;
      }
    }
  }
}