.breadcrumb {
  background: transparent;

  a {
    &:hover {
      text-decoration: none;
      color: #024ea0;
    }

  }
}

.detail {
  h3 {
    margin-top: 80px;
  }

  .price {
    margin-top: 100px;
  }

  .addCart {
    .form-control {
      border: 1px solid #00346D;
      ;
    }
  }
}

@media (max-width: 756px) {
  .detail {
    h3 {
      margin-top: 30px;
    }

    .price {
      margin-top: 24px;
    }
  }
}

// 相關產品
@media (min-width: 768px) {
  .similar {
    img {
      max-width: 100%;
      height: 230px;
    }
  }
}